* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cursor {
  position: fixed;
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  z-index: 9;
}

#image {
  height: 50vh;
  width: 80vh;
  position: relative;
  background-color: skyblue;
}

#image img {
  width: 100%;
  height: 100%;
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 10;
}
